---
layout: default
title: Tiramisu aux Fraises
permalink: /recette-3/
preparation: 20
cuisson: 120
---
<h1>Tiramisu aux fraise</h1>
{% include nav.html %}
<section id="ingredients">
  <h2>Liste des ingrédients pour 5 personnes</h2>
  <ul>
    <li>3 oeufs</li>
    <li>100g de sucre semoule</li>
    <li>375g de mascarpone de bonne qualité</li>
  </ul>

  <h3>Pour le coulis</h3>
  <ul>
    <li>600g de fraises équeutées</li>
    <li>2 cuillerées à soupe d'eau froide</li>
    <li>1 cuillerée à soupe de sucre glace</li>
    <li>le jus d'1/2 citron</li>
  </ul>

  <h3></h3>
  <ul>
    <li>10 biscuits à la cuillère (de préférence chez votre pâtissier)</li>
    <li>80g de sucre semoule</li>
    <li>colorant alimentaire rouge</li>
  </ul>
</section>

<section id="recette">
  <h2>Etapes de la recette</h2>
  <h3>Préparation d'un coulis de 200g</h3>
  <ol>
    <li>Coupez-les en duex dans le bol d'un mixeur, ajoutez l'eau, le sucre glace et le jus du demi-citron.</li>
    <li>Mixez le tout brièvement afin de ne pas faire blanchir.</li>
    <li>Filtrez ce coulis dans un récipient plat et réservez au frais.</li>
  </ol>
  <h3>Préparation de la crème mascarpone</h3>
  <ol>
    <li>Séparez les blancs des jaunes d'oeufs.</li>
    <li>Mettez-les dans deux récipients.</li>
    <li>Sur les jaunes d'oeufs, versez la moitié du sucre semoule et fouettez vivement de façon à obtenir une mousse blanchâtre.</li>
    <li>Ajoutez ensuite le mascarpone et fouettez afin de lisser la préparation.</li>
    <li>Battez les blancs en incorporant le reste du sucre au fur et à mesure.</li>
    <li>Fouettez-les jusqu'à ce que la neige soit assez épaisse.</li>
    <li>Incorporez une partie des blancs montés dans le mélange mascarpone-jaunes d'oeufs avec un fouet afin de détendre l'ensemble.</li>
    <li>Puis ajoutez le restant des blancs et remuez jusqu'à l'obtention d'une texture aérienne et homogène...</li>
  </ol>

  <h3>Le Montage</h3>
  <ol>
    <li>Placez les biscuits à la cuillère dans le récipient contenant le coulis de fraises durant 5 minutes environ prenant soin de les retourner.</li>
    <li>Coupez ensuite tous les biscuits en deux.</li>
    <li>Découpez chaque fraise en deux dans le sens de la hauteur et disposez-les autour du fond des verres.</li>
    <li>Réalisez un fond de crème à la cuillère ou à l'aide d'une poche à douille.</li>
    <li>Appliquez la moitié d'un biscuit imbibé, que vous recouvriez d'une couche de crème.</li>
    <li>Posez un second biscuit et ajoutez une cuillerée à soupe de coulis de fraises.</li>
    <li>Parsemez avec le reste des fraises coupées en dés.</li>
    <li>Répartissez la crème dans les pots et lissez avec une spatule métallique.</li>
    <li>Mettez les desserts oendant au moins 2 heures réfrigérateur pour que les parfums se mélangent.</li>
  </ol>
  <br>
  <p>Pour la finition, mélangez le sucre semoule avec le colorant rouge à l'aide d'un fouet. Saupoudrez finement les tiramisu avec le sucre coloré.</p>
  <button id="minuteur">Afficher le minuteur</button>
    {% include countdown.html %}

</section>

<div id="messages">
  <h2>Un message pour toi</h2>
  <ul>
    <li>
      <h3>Message de Marine</h3>
      <div class="message">
        <p>fezferf</p>
        <iframe src="https://drive.google.com/file/d/1hfUAzPaBhwz4KP0k5OGeaLvs3faW_b0k/preview" width="640" height="480"></iframe>
      </div>
    </li>

    <li>
      <h3>Message d'Arnaud</h3>
      <div class="message">
        <p>fefere</p>
      </div>
    </li>

  </ul>
</div>
