---
layout: default
title: Cookies
permalink: /recette-4/
preparation:
cuisson: 8
temperature: 180°C - thermostat 6
---
<h1>Cookies au Chocolat <span>made in USA</span></h1>
{% include nav.html %}
<section id="ingredients">
  <h2>Liste des ingrédients</h2>
  <ul>
    <li>1 oeuf</li>
    <li>200g de beurre</li>
    <li>100g de sucre</li>
    <li>150g de cassonade</li>
    <li>300g de farine</li>
    <li>1 cuil. à café de levure chimique</li>
    <li>1 cuil. à café d'extrait de vanille</li>
    <li>160g de chocolat (ou raisins de corinthe)</li>
    <li>1/2 cuil. à café de sel</li>
  </ul>
</section>

<section id="recette">
  <h2>Etapes de la recette</h2>
  <ol>
  <li>Préchauffez le four à 180°C - thermostat 6.</li>
  <li>Travaillz le beurre ramoli en pommade avec la cassonade et le sucre.</li>
  <li>Lorsque le mélange est crémeux, ajoutez la vanille et l'oeuf.</li>
  <li>Incorporez la farine tamisée avec la levure et le sel.</li>
  <li>Mélangez jusqu'à obtenir une pâte homogène.</li>
  <li>Ajoutez les raisins de corinthe.</li>
  <li>Déposez des cuillerées de pâte sur une plaque à pâtisserie en les espaçants d'environ 4 cm.</li>
  <li>Laissez-les cuire de 8 à 10 min au four jusqu'à ce que les cookies soient dorés</li>
  <li>Laissez les reposer 1 min avant de les décoller de la plaque. Placez-les sur une grille jusuq'à leur refroidissement.</li>
  </ol>

  <div id="minuteur">
    <ul>
      <li class="">
        <h3>Afficher le minuteur</h3>
        <div class="horloge">
          {% include countdown.html %}
        </div>
      </li>
    </ul>
  </div>
</section>

<div id="messages">
  <h2>Un message pour toi</h2>
  <ul>
    <li>
      <h3>Message de Marine</h3>
      <div class="message">
        <p>fezferf</p>
        <iframe src="https://drive.google.com/file/d/1hfUAzPaBhwz4KP0k5OGeaLvs3faW_b0k/preview" width="640" height="480"></iframe>
      </div>
    </li>

    <li>
      <h3>Message d'Arnaud</h3>
      <div class="message">
        <p>fefere</p>
      </div>
    </li>

  </ul>
</div>
