---
layout: default
title: Amande
permalink: /recette-6/
preparation: 11
cuisson: 30
---
<h1>La tarte amandine</h1>
{% include nav.html %}
<section id="ingredients">
  <h2>Liste des ingrédients pour 8 personnes</h2>
  <h3>La pâte sablée (ou sucrée !)</h3>
  <ul>
    <li>150g de beurre</li>
    <li>125g de sucre amande</li>
    <li>50g d'oeuf</li>
    <li>250g de farine T55</li>
  </ul>

  <h3>La crème d'amande</h3>
  <ul>
    <li>75g de beurre</li>
    <li>75g de sucre semoule</li>
    <li>10g de poudre à crème ou de farine</li>
    <li>75g de poudre d'amandes</li>
    <li>50g d'oeuf entier</li>
  </ul>
  <ul>
    <li>4 poires (ou pommes, framboises, abricots...)</li>
  </ul>
</section>

<section id="recette">
  <h2>Etapes de la recette</h2>
  <h3>La pâte sablée</h3>
  <ol>
    <li></li>
  </ol>

  <h3>La crème d'amande</h3>
  <ol>
    <li></li>
  </ol>

  <h3>Le Montage</h3>
  <ol>
    <li></li>
  </ol>

  <br>
  <p>Pour la finition, mélangez le sucre semoule avec le colorant rouge à l'aide d'un fouet. Saupoudrez finement les tiramisu avec le sucre coloré.</p>
  <button id="minuteur">Afficher le minuteur</button>
    {% include countdown.html %}

</section>

<div id="messages">
  <h2>Un message pour toi</h2>
  <ul>
    <li>
      <h3>Message de Marine</h3>
      <div class="message">
        <p>fezferf</p>
        <iframe src="https://drive.google.com/file/d/1hfUAzPaBhwz4KP0k5OGeaLvs3faW_b0k/preview" width="640" height="480"></iframe>
      </div>
    </li>

    <li>
      <h3>Message d'Arnaud</h3>
      <div class="message">
        <p>fefere</p>
      </div>
    </li>

  </ul>
</div>
