---
layout: default
title: Eclair
permalink: /recette-5/
preparation: 30
cuisson: 20
---
<h1>Les éclairs <span>by Christophe Felder</span></h1>
{% include nav.html %}
<section id="ingredients">
  <h2>Liste des ingrédients</h2>
  <h3>La crème pâtissière extra</h3>
  <p>Pour 800g de crème pâtissière</p>
  <ul>
    <li>50 cl de lait entier (important!)</li>
    <li>1 gousse de vanille Bourbon</li>
    <li>120g (soit 6 jaunes) de jaunes d'oeufs</li>
    <li>120g de sucre semoule</li>
    <li>50g de Maïzena</li>
    <li>50g de beurre</li>
  </ul>

  <h3>Meringue (optionnel)</h3>
  <ul>
    <li>2 blancs d'oeufs (ou 3 petits)</li>
    <li>75 g de sucre</li>
  </ul>
</section>

<section id="recette">
  <h2>Etapes de la recette</h2>
  <h3>Réalisation de la crème pâtissière extra</h3>
  <ol>
  <li>Faites bouillir sur feu moyen le lait avec la gousse de vanille fendue en deux et grattée, laissez infuser 10 minutes. Retirez la gousse de vanille</li>
  <li>Pendant ce temps, versez les jaunes d'oeufs dans un saladier, avec le sucre et la Maïzena.</li>
  <li>Fouettez vivement, mais sans faire blanchir le mélange.</li>
  <li>Portez de nouveau à ébullition le lait vanillé. Incorporez un tiers du lait bouillant au mélange jaunes d'oeufs, sucre et Maïzena, puis le reste de lait et fouettez bien.</li>
  <li>Reversez le tout dans la casserole et faites cuire sur feu vif en fouettant vivement.</li>
  <li>Dès que la crème épaissit, retirez la casserole du feu, ajoutez le beurre et fouettez jusqu'à ce que le beurre soit totalement incorporé à la crème.</li>
  <li>Versez la crème sur un film alimentaire, enveloppez-la complètement afin qu'elle ne sèche pas.</li>
  <li>Laissez refroidir la crème au réfrigérateur.</li>
  <p>Conseil: vous pouvez congeler la crème au beurre, mais vous ne pouvez pas le faire pour la crème pâtissière.</p>
  </ol>
  <button id="minuteur">Afficher le minuteur</button>
  {% include countdown.html %}
  <h3>Réalisation de la crème au citron :</h3>
  <ol>
    <li>Prélevez le zeste d'un citron non traité</li>
    <li>Portez à ébullition le jus des citrons avec le zeste</li>
    <li>Battez les oeufs avec le sucre et la maïzena</li>
    <li>Ajoutez progressivement le jus de citron en filet sans cesser de fouetter</li>
    <li>Remettez le tout sur feu moyen et faites épaissir en remuant bien tout le temps, vous obtiendrez une crème.</li>
    <li>Laissez tiédir et ensuite ajoutez le beurre mou en morceaux, en fouettant bien.</li>
    <li>Garnissez le fond de tarte précuit. Réservez au frais.</li>
  </ol>
  <h3>Finition facultative : la meringue :</h3>
  <ol>
    <li>Fouettez les blancs en neige, lorsqu'ils deviennent fermes, rajoutez le sucre et fouettez encore quelques secondes.</li>
    <li>Garnissez le dessus de la tarte avec une poche à douille par exemple et passez à four chaud 'fonction grill' 1 petite minute pour colorer la meringue ou comme dans la vidéo, pour aller plus vite...dorez la meringue au chalumeau...</li>
  </ol>
</section>

<div id="messages">
  <h2>Un message pour toi</h2>
  <ul>
    <li>
      <h3>Message de Marine</h3>
      <div class="message">
        <p>fezferf</p>
        <iframe src="https://drive.google.com/file/d/1hfUAzPaBhwz4KP0k5OGeaLvs3faW_b0k/preview" width="640" height="480"></iframe>
      </div>
    </li>

    <li>
      <h3>Message d'Arnaud</h3>
      <div class="message">
        <p>fefere</p>
      </div>
    </li>

  </ul>
</div>
