---
layout: default
title: Amande
permalink: /recette-6/
preparation: 11
cuisson: 30
---
<h1>La tarte amandine</h1>
{% include nav.html %}
<section id="ingredients">
  <h2>Liste des ingrédients pour 8 personnes</h2>
  <h3>La pâte sablée (ou sucrée !)</h3>
  <ul>
    <li>150g de beurre</li>
    <li>125g de sucre amande</li>
    <li>50g d'oeuf</li>
    <li>250g de farine T55</li>
  </ul>

  <h3>La crème d'amande</h3>
  <ul>
    <li>75g de beurre</li>
    <li>75g de sucre semoule</li>
    <li>10g de poudre à crème ou de farine</li>
    <li>75g de poudre d'amandes</li>
    <li>50g d'oeuf entier</li>
  </ul>
  <ul>
    <li>4 poires (ou pommes, framboises, abricots...)</li>
  </ul>
  <h3>Matériel</h3>
  <ul>
    <li>1 cercle de 22 cm de diam.</li>
    <li>1 spatule exoglass</li>
    <li>1 pinceau</li>
  </ul>

</section>

<section id="recette">
  <h2>Etapes de la recette</h2>
  <h3>La pâte sablée</h3>
  <ol>
    <li>Mélangez les matières sèches (farine, sucre, sel,...)</li>
    <li>Ajoutez le beurre coupé en morceaux.</li>
    <li>Sablez le tout entre vos 10 doigts</li>
    <li>Arrêtez-vous avant de faire un crumble, sinon la pâte sera trop travaillée et donc trop élastique !</li>
    <li>Réalisez un puit et versez votre élément liquide (oeuf ou eau).</li>
    <li>Amalgamez le tout sans ouvrir le puits en mélangeant puis assemblez la pâte en la coupant avec la corne et fraisez !</li>
    <li>Réservez au frais entre 15 et 30min pour que votre beurre durcisse et que la pâte soit plus facile à travailler.</li>
  </ol>

  <h3>La crème d'amande</h3>
  <ol>
    <li>Crémez le beurre pommade avec le sucre.</li>
    <li>Ajoutez la farine, la poudre d'amandes, l'oeuf</li>
    <li>Mélangez sans fouetter pour éviter qu'elle se développe trop à la cuisson et déborde.</li>
  </ol>

  <h3>Le Montage</h3>
  <ol>
    <li>Tapissez votre fond de tarte avec la crème d'amande.</li>
    <li>Déposez les fruits en étoile ou en pluie.</li>
    <li>Enfournez 30min à 180°C et contrôlez toujours la cuisson à l'instinct et au nez.</li>
  </ol>

  <div id="minuteur">
    <ul>
      <li class="">
        <h3>Afficher le minuteur</h3>
        <div class="horloge">
          {% include countdown.html %}
        </div>
      </li>
    </ul>
  </div>

  <ol>
    <li>Abricotez la tarte, utilisez un nappage blond ou faites chauffer une gelée de fruit.</li>
    <li>Nappez avec votre pinceau une fois la tarte refroidie.</li>
  </ol>

</section>

<div id="messages">
  <h2>Un message pour toi</h2>
  <ul>
    <li>
      <h3>Message de Marine</h3>
      <div class="message">
        <p>fezferf</p>
        <iframe src="https://drive.google.com/file/d/1hfUAzPaBhwz4KP0k5OGeaLvs3faW_b0k/preview" width="640" height="480"></iframe>
      </div>
    </li>

    <li>
      <h3>Message d'Arnaud</h3>
      <div class="message">
        <p>fefere</p>
      </div>
    </li>

  </ul>
</div>
