---
layout: default
title: Eclairs
permalink: /recette-5/
preparation: 45
cuisson: 25
---
<h1>Les éclairs <span>by Christophe Felder</span></h1>
{% include nav.html %}
<section id="ingredients">
  <h2>Liste des ingrédients pour 6 personnes</h2>
  <h3>La crème pâtissière extra</h3>
  <p>Pour 800g de crème pâtissière - Temps de cuisson: 10 minutes</p>
  <ul>
    <li>50 cl de lait entier (important!)</li>
    <li>1 gousse de vanille Bourbon</li>
    <li>120g (soit 6 jaunes) de jaunes d'oeufs</li>
    <li>120g de sucre semoule</li>
    <li>50g de Maïzena</li>
    <li>50g de beurre</li>
  </ul>

  <h3>Pour les éclairs</h3>
  <ul>
    <li>125g d'eau</li>
    <li>1/2 cuillerée à café de sucre semoule</li>
    <li>1/4 cuillerée à café de sel</li>
    <li>55g de beurre en morceaux</li>
    <li>70g de farine</li>
    <li>3 petits oeufs</li>
    <br>
    <li>15g de café soluble</li>
    <li>1/2 expresso</li>
  </ul>

  <h3>Pour le glaçage</h3>
  <ul>
    <li>250g de fondant blanc pâtissier</li>
    <li>5 cl d'eau</li>
  </ul>

  <h3>Pour le glaçage café</h3>
  <ul>
    <li>+ 1 cuillerée à café de café soluble dilué dans 1/2 expresso</li>
    <li>5 cl d'eau</li>
  </ul>
</section>

<section id="recette">
  <h2>Etapes de la recette</h2>
  <h3>Réalisation de la crème pâtissière extra</h3>
  <ol>
  <li>Faites bouillir sur feu moyen le lait avec la gousse de vanille fendue en deux et grattée, laissez infuser 10 minutes.<br>Retirez la gousse de vanille</li>
  <li>Pendant ce temps, versez les jaunes d'oeufs dans un saladier, avec le sucre et la Maïzena.</li>
  <li>Fouettez vivement, mais sans faire blanchir le mélange.</li>
  <li>Portez de nouveau à ébullition le lait vanillé. Incorporez un tiers du lait bouillant au mélange jaunes d'oeufs, sucre et Maïzena, puis le reste de lait et fouettez bien.</li>
  <li>Reversez le tout dans la casserole et faites cuire sur feu vif en fouettant vivement.</li>
  <li>Dès que la crème épaissit, retirez la casserole du feu, ajoutez le beurre et fouettez jusqu'à ce que le beurre soit totalement incorporé à la crème.</li>
  <li>Versez la crème sur un film alimentaire, enveloppez-la complètement afin qu'elle ne sèche pas.</li>
  <li>Laissez refroidir la crème au réfrigérateur.</li>
  <p>Conseil: vous pouvez congeler la crème au beurre, mais vous ne pouvez pas le faire pour la crème pâtissière.</p>
  </ol>
  <h3>Réalisation de la pâte à choux</h3>
  <ol>
    <li>Préchauffez votre four à 180°C</li>
    <li>Dans une casserole, versez l'eau, le sucre semoule, le sel et le beurre coupé en morceaux, et faites chauffer sur le feu moyen.</li>
    <li>Dès le premier bouillon, retirez la casserole du feu et versez alors la farine en pluie, tout en remuant à l'aide d'un fouet durant 30 secondes afin de déssécher la pâte.</li>
    <li>Remettez la casserole sur le feu, et remuez énergiquement durant 2 minutes sans discontinuet jusqu'à ce que la pâte soit bien lisse et se décolle des parois de la casserole.</li>
    <li>Hors du feu, incorporez les oeufs un par un, tout en mélangeant énergiquement avec un fouet.</li>
    <br>
    <li>Remplissez une poche à douille -munie d'une douille de préférence dentelée de 8mm de diamètre- de pâte à choux.</li>
    <li>Réalisez des boudins de 10cm à 12cm de pâte sur une plaque de cuisson légèrement beurrée et farinée, en les espaçant de quelques centimètres.</li>
    <li>Enfournez durant 25 à 30 minutes à 180°C dans le four non ventilé (il est important de ne pas ouvrir le four, sinon la pâte s'affaisserait).</li>

    <button id="minuteur">Afficher le minuteur</button>
    {% include countdown.html %}

    <li>Lorsque la pâte est cuite, posez-la sur une grille afin de la laisser refroidir.</li>
    <br>
    <li>Sortez la crème pâtissière du réfrigérateur.</li>
    <li>Travaillez-la à l'aide d'un fouet afin de la rendre lisse et homogène.</li>
    <li>Séparez-là dans deux récipients. Dans l'un, ajoutez le mélange café soluble et expresso, et dans l'autre laissez la crème pâtissière nature à la vanille.</li>
  </ol>

  <h3>Montage</h3>
  <ol>
    <li>Coupez la partie supérieure des éclairs.</li>
    <li>A l'aide d'une poche à douille, remplissez-les de crème pâtissière à la vanille ou au café bien lissé au fouet.</li>
    <br>
    <li>Pour le glaçage, chauffez le fondant et l'eau à 35°C à l'aide d'une spatule en bois.</li>
    <li>Hors du feu, nappez chaque éclair à la vanille de fondant nature.</li>
    <li>Pour les éclairs au café, renouvelez l'opération en ajoutant le café soluble dans le fondant. Et nappez les éclairs au café.</li>
    <li>Laissez figer avant de déguster !</li>
    <br>
    <p>Conseil: vous pouvez ajouter dans le fondant nature pour les éclairs à la vanille une cuillerée à café d'eau-de-vie.</p>
  </ol>

</section>

<div id="messages">
  <h2>Un message pour toi</h2>
  <ul>
    <li>
      <h3>Message de Marine</h3>
      <div class="message">
        <p>fezferf</p>
        <iframe src="https://drive.google.com/file/d/1hfUAzPaBhwz4KP0k5OGeaLvs3faW_b0k/preview" width="640" height="480"></iframe>
      </div>
    </li>

    <li>
      <h3>Message d'Arnaud</h3>
      <div class="message">
        <p>fefere</p>
      </div>
    </li>

  </ul>
</div>
