font-family: 'Baloo Da 2', cursive;
font-family: 'Bellefair', serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Euphoria Script', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Forum', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Kristi', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Montez', cursive;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'NTR', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Reenie Beanie', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Srisakdi', cursive;
font-family: 'Tangerine', cursive;
