.current {
  color: green;
}
html {
  font-family: 'Avenir', cursive;
}
* { padding:0px; margin: 0px; }
body {
  //background-color: $yellow;
  margin: 0px;
  padding: 0px;
}
main { min-height: 100vh; }
article, header {
  max-width: 1024px;
  margin: auto;
  width: 100%;
}
ul { list-style: none; }
h1 { font-size: 2em; font-weight: lighter; }
//.size-default, h1, h2 { max-width: 1024px; margin: auto; width: 100%; }
