.current {
  color: green;
}
html {
  scroll-behavior: smooth;
  font-family: 'Avenir';
  font-size: 1em;
}
body {
  //background-color: $yellow;
  margin: 0px;
  padding: 0px;
}
main { min-height: 100vh; }
article, header {
  max-width: 1024px;
  margin: auto;
  width: 100%;
  font-family: 'Tangerine', cursive;
}
h1 { font-size: 2em; font-weight: lighter; }
//.size-default, h1, h2 { max-width: 1024px; margin: auto; width: 100%; }
