<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../../assets/css/styles.css">

    <!-- For styles with static names... -->
    <link href="{{ 'assets/css/styles.css' | relative_url }}" rel="stylesheet">

    <!-- For documents/pages whose URLs can change... -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Bellefair&family=Cabin+Sketch&family=Caveat&family=EB+Garamond&family=Euphoria+Script&family=Fondamento:ital@1&family=Forum&family=Fredericka+the+Great&family=Kristi&family=Marck+Script&family=Montez&family=NTR&family=Nanum+Brush+Script&family=Nanum+Pen+Script&family=Raleway&family=Reenie+Beanie&family=Sacramento&family=Satisfy&family=Srisakdi&family=Tangerine&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <ul class="head">
        <li>Temps de préparation: {{ page.preparation }}min</li>
        <li>Temps de cuisson: {{ page.cuisson }}min</li>
      </ul>
    </header>
    <main>
      <article>
        {{ content }}
      </article>
    </main>
  </body>
</html>
<script src="{{ base.url | prepend: site.url }}/assets/js/test.js"></script>
